# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
**/logs/
**/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Hyperledger Fabric
**/wallet/
**/*.id
**/crypto-config/
**/organizations/
/infrastructure/dev/infrastructure/

# CA / TLS private keys (niemals committen)
**/*.key
**/*_sk

# Secrets
**/*.pem
**/*.crt
**/*.cert
# Exception: PKI-Docu
!infrastructure/pki/**/*.pem
!infrastructure/pki/**/*.crt
!infrastructure/pki/**/*.cert

# OpenSSL CA DB / State
**/index.txt
**/index.txt.attr*
**/serial
**/crlnumber
**/*.old

# Testing
**/coverage/
**/.nyc_output/

# Misc
**/*.tgz