<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon aria-hidden="true" name="menu" size="large"></ion-icon>
      </ion-menu-button>
    </ion-buttons>      
    <ion-title color="primary" class="centered-title">
      {{ 'SENDING' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon aria-hidden="true" name="menu" size="large"></ion-icon>
        </ion-menu-button>
      </ion-buttons>

      <ion-title color="primary" size="large" style="text-align: center;">
        {{ 'SENDING' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scanQrCode()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="scannedUuid">
    <h2>Scanned UUID:</h2>
    <p>{{ scannedUuid }}</p>
  </div>

  <div *ngIf="scannedAmount">
    <h2>Scanned Amount:</h2>
    <p>{{ scannedAmount }} JEDO</p>
  </div>

  <div *ngIf="scannedError">
    <p>Error occured</p>
    <p>{{ scannedError }}</p>
  </div>

</ion-content>
