<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon color="primary" name="settings"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      JEDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">JEDO</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Content of the tab_receiving.page</p>
</ion-content>
