<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon aria-hidden="true" name="menu" size="large"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title color="primary" class="centered-title">
      {{ 'RECEIVING' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="removeLast()" aria-label="remove last">
        <ion-icon aria-hidden="true" name="backspace" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon aria-hidden="true" name="menu" size="large"></ion-icon>
        </ion-menu-button>
      </ion-buttons>  
      <ion-title color="primary" size="large" style="text-align: center;">{{ 'RECEIVING' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="removeLast()" aria-label="remove last">
          <ion-icon aria-hidden="true" name="backspace" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="uuid; else noUuid">
    <div *ngIf="qrData" style="text-align: center;">
      <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div *ngIf="amount" style="text-align: center; margin-top: 20px; font-size: 2em; padding: 20px;">
      {{ amount || '0.00' }} JEDO 
    </div>
  </div>
  <ng-template #noUuid>
    <p>UUID not found. Open Settings.</p>
  </ng-template>

  <div style="text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button (click)="addNumber('1')">1</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('2')">2</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('3')">3</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="addNumber('4')">4</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('5')">5</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('6')">6</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="addNumber('7')">7</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('8')">8</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('9')">9</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="addNumber('00')">00</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('0')">0</ion-button></ion-col>
        <ion-col><ion-button (click)="addNumber('.')">.</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
