<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab_receiving" href="/tabs/tab_receiving" aria-label="receiving" >
      <ion-icon aria-hidden="true" name="wallet" size="large"></ion-icon>
    </ion-tab-button>

<!--    <ion-tab-button tab="tab_settings" href="/tabs/tab_settings" aria-label="settings" >
      <ion-icon aria-hidden="true" name="settings" size="large"></ion-icon>
    </ion-tab-button>-->

    <ion-tab-button tab="tab_sending" href="/tabs/tab_sending" aria-label="sending" >
      <ion-icon aria-hidden="true" name="send" size="large"></ion-icon>
    </ion-tab-button>

<!--    <ion-tab-button tab="tab_test" href="/tabs/tab_test" aria-label="test" >
      <ion-icon aria-hidden="true" name="triangle" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab_assets" href="/tabs/tab_assets" aria-label="assets" >
      <ion-icon aria-hidden="true" name="ellipse" size="large"></ion-icon>
    </ion-tab-button>-->

  </ion-tab-bar>
</ion-tabs>
