<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab_sending" href="/tabs/tab_sending" aria-label="sending" >
      <ion-icon aria-hidden="true" name="send" size="large"></ion-icon>
      <!--<ion-label>sending</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tab_receiving" href="/tabs/tab_receiving"aria-label="receiving" >
      <ion-icon aria-hidden="true" name="wallet" size="large"></ion-icon>
      <!--<ion-label>receiving</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
