<ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title color="primary" >{{ 'SETTINGS' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{ 'UUID' | translate }}</ion-label>
          <ion-input
            [(ngModel)]="uuid"
            [readonly]="!isImportMode"
            placeholder="No UUID"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input
            [(ngModel)]="password"
            [readonly]="!isImportMode"
            placeholder="No Password"
            type="password"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="full" (click)="generateCredentials()" [disabled]="isGenerated">
        {{ 'GENERATE' | translate }}
      </ion-button>

      <ion-button expand="full" (click)="enableImportMode()" [disabled]="isImportMode || isGenerated">
        {{ 'IMPORT' | translate }}
      </ion-button>

      <ion-button expand="full" (click)="saveImportedData()" *ngIf="isImportMode">
        {{ 'SAFE' | translate }}
      </ion-button>

      <ion-button expand="full" color="danger" (click)="deleteData()">
        {{ 'DELETE' | translate }}
      </ion-button>

      <ion-list>
        <ion-item (click)="changeLanguage('en')">English</ion-item>
        <ion-item (click)="changeLanguage('de')">Deutsch</ion-item>
      </ion-list>

    <ion-button (click)="navigateToTab('tab_test')">
      Tab-TEST
    </ion-button>
    
    <ion-button (click)="navigateToTab('tab_assets')">
      Tab ASSET
    </ion-button>

  </ion-content>
</ion-menu>