<ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title color="primary" >{{ 'SETTINGS' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{ 'UUID' | translate }}</ion-label>
          <ion-input
            [(ngModel)]="uuid"
            [readonly]="true"
            placeholder="No UUID"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{ 'OWNER' | translate }}</ion-label>
          <ion-input
            [(ngModel)]="owner"
            [readonly]="true"
            placeholder="No owner"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="registerWallet()" [disabled]="isRegistered">
        {{ 'REGISTER' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="importWalletCert()" [disabled]="isRegistered">
        {{ 'IMPORT' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="exportWalletCert()" [disabled]="!isRegistered">
        {{ 'EXPORT' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="deleteData()" color="danger">
        {{ 'DELETE' | translate }}
      </ion-button>

      <ion-list>
        <ion-button expand="block" (click)="openLanguageSelector()">
          {{ 'CHANGE_LANGUAGE' | translate }}
        </ion-button>        
      </ion-list>

</ion-content>
</ion-menu>