<ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title color="primary" >{{ 'SETTINGS' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{ 'UUID' | translate }}</ion-label>
          <ion-input
            [(ngModel)]="uuid"
            [readonly]="!isImportMode"
            placeholder="No UUID"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input
            [(ngModel)]="password"
            [readonly]="!isImportMode"
            placeholder="No Password"
            type="password"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="registerWallet()" [disabled]="isRegistered">
        {{ 'REGISTER' | translate }}
      </ion-button>

      <!-- <ion-button expand="block" (click)="importWalletCert()" [disabled]="isRegistered">
        {{ 'IMPORT' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="exportWalletCert()" [enabled]="isRegistered">
        {{ 'EXPORT' | translate }}
      </ion-button> -->





      <ion-button expand="block" (click)="generateCredentials()" [disabled]="isGenerated">
        {{ 'GENERATE' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="enableImportMode()" [disabled]="isImportMode || isGenerated">
        {{ 'IMPORT' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="saveImportedData()" *ngIf="isImportMode">
        {{ 'SAFE' | translate }}
      </ion-button>

      <ion-button expand="block" color="danger" (click)="deleteData()">
        {{ 'DELETE' | translate }}
      </ion-button>

      <ion-list>
        <ion-button expand="block" (click)="openLanguageSelector()">
          {{ 'CHANGE_LANGUAGE' | translate }}
        </ion-button>        
      </ion-list>

</ion-content>
</ion-menu>